[project]
	description = Jenkins plugin for RapidDeploy
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MidVision (MidVision)
[access "refs/for/refs/*"]
	read = group user/MidVision (MidVision)
	push = group user/MidVision (MidVision)
	label-Code-Review = -2..+2 group user/MidVision (MidVision)
	label-Verified = -1..+1 group user/MidVision (MidVision)
	rebase = group user/MidVision (MidVision)
	removeReviewer = group user/MidVision (MidVision)
	submit = group user/MidVision (MidVision)
[access "refs/heads/*"]
	read = group user/MidVision (MidVision)
	create = group user/MidVision (MidVision)
	push = +force group user/MidVision (MidVision)
	pushMerge = group user/MidVision (MidVision)
[access "refs/tags/*"]
	push = +force group user/MidVision (MidVision)
	pushTag = group user/MidVision (MidVision)
	pushSignedTag = group user/MidVision (MidVision)
